h2 {
    font-size: 32px;
    margin-bottom: 0;
}

#SiteTitle, #Subtitle {
    text-align: center;
    text-shadow: 0 0 8px #f1ebdc;
}

#SiteTitle {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 62px;
}

#Subtitle {
    margin-top: 0;
}

a.episodeLink {
    color: #000;
    display: block;
    font-size: 12px;
}

audio {
    width: 100%;
}

pre a[role=clip] {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 0;

    &:hover {
        background-color: #f1ebdc;
    }
}

a[role=clip] {
    color: #0d4248;
    font-size: 10px;
    vertical-align: super;
    cursor: pointer;
    padding: 1px;
    margin: 1px;

    &:hover {
        outline: 1px solid black;
        text-decoration: none;
    }
}