h2 {
    font-size: 32px;
    margin-bottom: 0;
}

#SiteTitle {
    text-align: center;
    font-size: 62px;
    text-shadow: 0 0 5px #f1ebdc;
    margin-top: 15px;
}

a.episodeLink {
    color: #000;
    display: block;
    font-size: 12px;
}