h2 {
    font-size: 32px;
    margin-bottom: 0;
}

#SiteTitle, #Subtitle {
    text-align: center;
    text-shadow: 0 0 8px #f1ebdc;
}

#SiteTitle {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 62px;
}

#Subtitle {
    margin-top: 0;
}

a.episodeLink {
    color: #000;
    display: block;
    font-size: 12px;
}